body {
  color: #333;
  font: 400 36px/1.1 Helvetica Neue, sans-serif;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
  -webkit-transition: background-color .5s;
}

a {
  color: hsl(15, 90%, 50%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: -.04em;
  line-height: 1;
}

h1 {
  font-family: 'Maven Pro';
  font-weight:600;
  font-size: 3.5em;
  margin: 0 0 calc(1em / 3.5);
}

h2 {
  font-size: 2.5em;
  margin: 0 0 calc(1em / 2.5);
}

h3 {
  font-size: 2em;
  font-weight: 500;
  margin: 0 0 calc(1em / 1.75);
}

p {
  margin: 0 0 .75em;
}

ul {
  list-style: square;
}

li {
  margin-bottom: .333em;
}

code {
  background: #eee;
  border-radius: .2em;
  color: #000;
  padding: 0 .2em;
}

blockquote {
  background: #eee;
  border-left: .15em solid #ccc;
  color: #555;
  font-size: .9em;
  font-style: italic;
  margin: 0 0 1em;
  padding: 1em;
}

button {
  background: linear-gradient(to bottom, hsl(0,0%,95%), hsl(0,0%,85%));
  border: 1px solid hsl(0,0%,75%);
  border-top-color: hsl(0,0%,80%);
  border-bottom-color: hsl(0,0%,70%);
  border-radius: .2em;
  box-shadow: inset 0px 1px 0px #fff;
  font: inherit;
  padding: .5em 1em;
  text-shadow: 0 1px 0 #fff;
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  margin: 0;
  width: 4.5em;
}
dd {
  margin: 0 0 .25em;
  width: calc(100% - 4.5em);
}

/* data-states */
body[data-state='intro'] {
  color:#fff;
  background-color:#333;
}

body[data-state="lotr"] {
  color:#fff;
  background: #333 url(../img/lotr.jpg) no-repeat;
}

body[data-state='highlight-landmarks'] .landmarks tr td {
  background-color: #999;
}

body[data-state='highlight-landmarks'] .landmarks .hl td {
  background-color: #a9ffb1;
}

body[data-state="access"] {
  color:#fff;
  background: #333 url(../img/superman.jpg) no-repeat;
  background-size: cover;
}

body[data-state="map"] {
  background: #fff url(../img/map.png) no-repeat;
  background-size: cover;
}

h2, h3 {
/*  font-family: 'Maven Pro';
  font-weight:300;*/
  opacity: 0;
  -webkit-transition: transform .5s, opacity .5s, text-shadow 2s;
}

h2 {
  transform: translateY(-20px);
  transition-delay: .5s;
}

h3 {
  transform: translateX(100px);
  transition-delay: .4s;
  font-size: 1.75em;
}

h4 {
  margin-top:0;
}

ul ul {
  margin:.6em 0 0 0;
}


a-slide[history="present"][data-state="intro"] h2 {
  text-shadow: 0 0 4px rgba(255,255,255,.4);
}

a-slide[history="present"] h3 {
  /*text-shadow: 0 3px 5px rgba(0,0,0,.3);*/
}

a-slide[history="present"] h2, a-slide[history="present"] h3 {
  opacity: 1;
}

a-slide[history="present"] h2 {
  transform: translateY(0);
}

a-slide[history="present"] h3 {
  transform: translateX(0);
}

.strike {
  text-decoration: line-through;
}

code {
  font-size: .7em;
  font-family: Courier, monospace;
}

table {
  padding:0;
  margin:0;
  border-spacing: none;
  border-collapse: collapse;
  background-color:#fff;
}
td, th {
  font-size: 1.4em;
  border: 1px solid #333;
  padding: 5px 10px 5px 5px;
  margin: 0;
  text-align: left;
}

tbody tr:nth-of-type(2n+0) {
  background-color: #efefef;
}

thead tr {
  background-color: #ccc;
}
tbody tr:hover {
  background-color: #3d78ff;
  color: #fff;
}
tbody tr:hover code {
  background-color: #9ab8ff;
}

footer[role="contentinfo"] {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#333;
}

.start p a {
  display: block;
  float: left;
  clear: both;
  line-height: 1.3em;
}

.jsmvc {
  background: url('../img/jsmvc.png') no-repeat top right;
  padding: 0 387px 0 0;
  display: inline-block;
}


@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/maven_pro_bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/maven_pro_medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/maven_pro_black-webfont.woff") format("woff");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/maven_pro_book-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/maven_pro_light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/maven_pro_ultralight-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

pre {padding-top:0;}