code
	pre
		| &lt;section role="complementary" aria-labelledby="module_heading"&gt;
		|	&lt;h2 id="module_heading"&gt;Frequently Asked Questions&lt;/h2&gt;
		|	...
		| &lt;header role="banner"&gt;
		|	...
		| &lt;footer role="contentinfo"&gt;